.head-block
{
	background: url('../images/BLUR-25-r.jpg') no-repeat;
	background-size: cover;
}

.dark-block
{
	background-color: $gray;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $dark-gray;
}

.code-block
{
	background: #219b46;
	padding: 15px 0 5px;
}